# 剩下的问题.txt

media/encrypt_file/*
media/secure_file/*

logs/*

backend/migrations/*
!backend/migrations/__init__.py
secure_encrypt_server/migrations/*
!secure_encrypt_server/migrations/__init__.py

__pycache__

.vs

uwsgi.ini
服务器信息.txt
配置文件.txt
searchable_encryption.sql


# Project exclude paths
/cloud_client/node_modules/